* {
    box-sizing: border-box;
    background: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    
}

/*align buttons and main title together*/
#menu, #title {
    display: inline-block;
}

/*margins to push buttons away from logo */
#title {
    margin: 1vw 6vw 1vw 6vw
    /* top  right  bottom left*/
}



button {
  
    background: transparent;
    border: 0px;
    text-decoration: underline;
    font-size: medium;
    

}

button:hover {
    background: rgb(108, 108, 108);
}
