* {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#logo {
    width: 10rem;
    margin: 2rem 2rem;
}

#info-left1 {
    background-image: url();
    background-attachment: fixed;
    background-position: 0px 20rem;
    background-repeat: no-repeat;
}

#logo, #menu {
    display: inline-block;

}

button {
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    opacity: 25%;
}

button:focus {
    background-color: black;
}

#title-learn {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p, h1, h2, h3{
    background: transparent;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.red-word {
    color: rgba(219, 134, 134);
    background: transparent;
}

#info-right {
   
    display: flex;
    flex-direction: column;

    background: transparent;
    margin-left: 2rem
    
   
}

#title-learn {
    color: rgb(151, 192, 155);
    font-size: larger;
}

.header-learn {
    color: rgb(201, 207, 112);
    text-align: center;
    font-size: x-large;
}


#info-right, #info-left1, #info-left2, #info-right2 {

    background-size: cover;
    background-attachment: fixed;
    background-position: 0px 20rem;
   
}

#info-left1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
}

#info-left2 {
    display: flex;
    background: transparent;
    justify-content: center;
    flex-direction: column;
    margin-right: 2rem;
   
    
}

#info-right2 {

    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    background: transparent;
}

#info-left3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: transparent;
   
}

#info-right3 {
    text-indent: 0%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.large-text {
    background: transparent;
    
  
}



footer {
    margin-top: 1rem;
    text-align: center;
    font-size: small;
    background: transparent;
}

